.forgetForm {
    display: block;
    margin-top: 10%;
    text-align: center;
    
}

.forgetForm button {
  background: #6F67B4;
  border-radius: 0.6rem;
  width: 20rem;
  height: 3rem;
  border: none;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: #ec5348;
}


.forgetForm input {
    background: #D9D9D9;
    border-radius: 0.6rem;
    border: none;
    width: 20rem;
    height: 3rem;
    text-align: center;
}